<div class="page-header">
  <%= link_to ideas_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_idea_path(@idea), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show idea</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @idea.name %></dd>

  <dt>Description:</dt>
  <dd><%= @idea.description %></dd>

  <dt>Picture:</dt>
  <dd><%= image_tag(@idea.picture_url, :width => 600) if @idea.picture.present? %></dd>

</dl>
